.area-modal .modal-confirmar-exame .info-exame{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.area-modal .modal-confirmar-exame .info-exame p.enfase{
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--cor-azul-turquesa-100);
}

.area-modal .modal-confirmar-exame .info-exame .negrito{
    font-weight: bold;
}

.area-modal .modal-confirmar-exame .area-btns{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.area-modal .modal-confirmar-exame .area-btns button{
    min-width: 100px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.area-modal .modal-confirmar-exame .area-btns .area-btns-cancelar{
    background-color: var(--cor-preto-60);
}

.area-modal .modal-confirmar-exame .area-btns .area-btns-agendar{
    background-color: var(--cor-dourado-100);
}

