.area-lista-chegada{
    width: 100%;
    max-height: 300px;
    margin-top: 50px;
    overflow-y: auto;
}

.area-lista-chegada > .text-area{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.area-lista-chegada > .text-area h1{
    font-size: 40px;
}

.area-lista-chegada .lista-exames{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.area-lista-chegada .lista-exames li{
    width: 100%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--cor-azul-turquesa-20);
}

.area-lista-chegada .lista-exames li .hora-nome{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.area-lista-chegada .lista-exames li .genero-idade{
    display: flex;
    gap: 30px;
}

.area-lista-chegada .lista-exames li .confirmacao-btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.area-lista-chegada .lista-exames li .confirmacao-btns >p{
    font-style: italic;
    color: var(--cor-preto-80);
}

.area-lista-chegada .lista-exames li .confirmacao-btns .btns{
    display: flex;
    gap: 15px;
}

.area-lista-chegada .lista-exames li .confirmacao-btns button{
    min-width: 100px;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.area-lista-chegada .lista-exames li .confirmacao-btns button.confirmacao-btns-abrir{
    background-color: var(--cor-azul-turquesa-60);
}

.area-lista-chegada .lista-exames li .confirmacao-btns button.confirmacao-btns-confirmar{
    background-color: var(--cor-dourado-100);
}

.area-lista-chegada .lista-exames li.confirmado .confirmacao-btns button.confirmacao-btns-confirmar{
    font-style: italic;
    background-color: var(--cor-preto-80);
}

.area-tabela > p{
    width: 100%;
    font-size: 16px;
}

/* tabela */
.tabela-padrao tbody tr .tabela-padrao-td-button{
    display: flex;
    justify-content: end;
    gap: 15px;
}

.tabela-padrao tbody tr .tabela-padrao-td-button button{
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.tabela-padrao tbody tr .tabela-padrao-td-button button.tabela-padrao-td-button-confirmar{
    background-color: var(--cor-azul-turquesa-100);
}