.area-modal{
    width: 100vw; height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.336);
}

.area-modal .modal{
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.267);
}

.area-modal .modal .titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-modal .modal .titulo h1{
    font-size: 30px;
    text-transform: uppercase;
}

.area-modal .modal .titulo p{
    font-size: 20px;
}