.tabela-padrao-agendamento tr {
    border: none !important;
}

.tabela-padrao-agendamento td{
    text-align: center;
}

.tabela-padrao-agendamento tbody td {
    border: 1px solid var(--cor-preto-80);
}

.tabela-padrao-agendamento tbody td .agendamento {
    width: 50%;
    min-width: 50px;
    margin: 5px auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-azul-turquesa-60);
}

.tabela-padrao-agendamento tbody td .agendamento.inativo{
    background-color: var(--cor-preto-40);
}

.area-btns-tabela{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.area-btns-tabela button{
    min-width: 80px;
    padding: 5px 10px;
    font-size: 20px;
    color: var(--cor-azul-turquesa-100);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.164);
    background-color: white;
    border: 2px solid var(--cor-azul-turquesa-100);
    border-radius: 5px;
    transition: background-color var(--tmp-transicao);
    transition: color var(--tmp-transicao);
}

.area-btns-tabela button:hover{
    cursor: pointer;
    color: white;
    background-color: var(--cor-azul-turquesa-100);
}