/* tabela */
.tabela-padrao tbody tr .tabela-padrao-td-button{
    display: flex;
    justify-content: end;
    gap: 15px;
}

.tabela-padrao tbody tr .tabela-padrao-td-button button{
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.tabela-padrao tbody tr .tabela-padrao-td-button button.tabela-padrao-td-button-confirmar{
    background-color: var(--cor-azul-turquesa-100);
}